[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"
rope = "*"
ipykernel = "*"

[packages]
pandas = "*"
requests = "*"
tqdm = "*"
sklearn = "*"
psycopg2 = "*"
matplotlib = "*"
seaborn = "*"
wordcloud = "*"
numpy = "*"
xgboost = "*"

[requires]
python_version = "3.7"
