[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
wordcloud = "*"
seaborn = "*"
xgboost = "*"
tqdm = "*"
imblearn = "*"
jupyter-contrib-nbextensions = "*"
boto3 = "*"
requests = "*"
pillow = "*"

[requires]
python_version = "3.8"
